{% extends 'base.html' %}

{% block title %}
<h2>Change your password!</h2>
{% endblock %}

{% block content %}
{% if changed %}
    <p><strong>Success!</strong> Your password has been updated.</p>
{% else %}
    <div class="container">
        <h2>Create a user:</h2>
        <br>
        <form action="/change_password" method="POST">
            <input type="password" placeholder="Old Password" name=oldpassword required="required">
            <input type="password" placeholder="New Password" name=newpassword required="required">
            <input type="password" placeholder="Repeat New Password" name=rep_newpassword required="required">
            <input class="btn btn-default" type="submit" value="Change Password">
        </form>
        {% if wrong_pass %}
        <p class="error"><strong>Error:</strong> Password could not be verified</p>
        {% endif %}
        {% if typo %}
        <p class="error"><strong>Error:</strong> Try typing your new password again</p>
        {% endif %}
    </div>
{% endif %}
{% endblock %}