{% extends 'base.html' %}

{% block title %}
<h2>Login</h2>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Please login</h2>
    <br>
    <form action="/login" method="POST">
      <input type="text" placeholder="Username" name=username>
       <input type="password" placeholder="Password" name=password>
      <input class="btn btn-default" type="submit" value="login">
    </form>
    {% if bad_creds %}
      <p><strong>Error:</strong> Wrong username or password</p>
    {% endif %}
  </div>
{% endblock %}