{% extends 'base.html' %}

{% block title %}
<h2>Home</h2>
{% endblock %}

{% block content %}
<div class="table">
<table>
    <tr><th></th><th>Username (age)</th><th>Message</th><th>Created at</th></tr>
    {% for message in messages %}
    <tr>
        <td><img src={{message['profile_picture']}}></td>
        <td>{{message['username']}} ({{message['age']}})</td>
        <td>{{message['message']}}</td>
        <td>{{message['created_at']}}</td>
    </tr>
    {% endfor %}
</table>
<div class="pages">{% if page-1>0 %}<a href={{ url_for('root', page=page-1)}}> << Previous Page</a>{% endif %}<a href={{ url_for('root', page=page+1)}}>Next Page >> </a></div>
</div>
{% endblock %}